.campo-texto {
    margin: 24px 0;
}

.campo-texto label {
    display: block;
    margin-bottom: 8px;
    font-size: 24px;
    font-weight: 600;
    color: #212121;
}

.campo-texto input {
    background-color: #F6F6F6;
    font-size: 24px;
    padding: 24px;
    width: 100%;
    border: none;
    box-shadow: 10px 10px 30px 0px rgba(0, 0, 0, 0.06);
    box-sizing: border-box;
}